/* Colors
 * black #303030
 * light tan #e0d7c5
 * burnt orange #be5f27
 * light brown #c3bbac
 * brown #8e5942
 * off-white #f2f2f2
 * golden #d49b30
*/

/* Fonts */
body {
  font-family: Oswald, Regular;
  color: #303030;
  margin: 0;
  min-width: 300px;
}

h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.56em;
  color: #f2f2f2;
}
h2 a:hover {
  color: #d49b30;
}
h2 a {
  font-style: italic;
  text-decoration: underline;
}
h3 {
  font-family: Oswald, Lato Black;
  font-size: 1.125em;
  color: #8e5942;
  text-transform: uppercase;
}
h4 {
  font-family: Oswald, Lato Light;
  font-size: 1.125em;
  color: #8e5942;
  text-transform: uppercase;
  font-weight: 200;
}
nav p {
  font-size; 1.06em;
  line-height: 1em;
  text-transform: uppercase;
}
p {
  line-height: 1.6em;
  margin: 1em;
}
p a {
  font-family: Oswald, Lato Bold Italic;
  font-size: 1em;
  color: #be5f27;
}
p a:hover {
  text-decoration: underline;
}
footer p {
  font-size: .9em;
  color: #f2f2f2;
}
a {
  cursor: pointer;
}

/* */
nav {
  background-color: #f2f2f2;
  opacity: .9;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav * {
  display: inline-block;
  margin: .25em;
}
nav img {
  height: 50px;
}
nav a {
  color: #303030;
}

.splash {
  background-image: url('../images/fix-index-hero.jpg');
  background-position: 50% 80%;
  background-color: #8e5942;
  background-size: cover;
  height: 300px;
}

@media(min-width: 600px) {
  nav img {
    height: 163px;
    margin: 15px;
  }

  nav.scrolled img {
    height: 50px;
  }

  .splash {
    height: 831px;
  }
}

.title {
  text-align: center;
}
.title  h1{
  color: white;
  background-color: #d49b30;
  display: inline-block;
  padding: 20px;
  margin: 0;
}

@media(min-width: 600px) {
  .even, .love, .hours p {
    display: inline-block;
    flex-grow: 1;
    width: 1;
  }
  .twice {
    flex-grow: 2;
    width: 1;
  }
  article, .hours {
    display: flex;
  }
  .cakes {
    padding: 50px 0;
    margin-top: -90px;
    z-index: -1;
  }
  footer {
    display: flex;
    align-items: center;
  }
}

.big {
  display: none;
}

.about {
  text-align: left;
  padding: 15px;
}

.cakes {
  color: white;
  background-color: #e0d7c5;
}

article, .hours {
  text-align: center;
  align-items: stretch;
}

.hours {
  background-color: #8e5942;
  color: white;
  padding: 20px 0;
  font-size: 1.25em;
}
.hours span {
  font-weight: 200;
}

.cakes *, .love * {
  display: block;
  margin: 0 auto;
}

.cakes, .love {
  font-family: Oswald, bold;
  text-transform: uppercase;
  line-height: .8em;
}

.cakes {
  font-size: 3.25em;
  padding: 20px;
}

.love {
  font-size: 2.5em;
  text-align: center;
  color: #c3bbac;
  display: flex;
  align-items: center;
  margin: 15px;
}

footer {
  background-color: #be5f27;
  text-align: center;
  padding: 15px;
}
footer .media {
  margin: 1em 0;
}

@media(min-width: 600px) {
  .big {
    display: block;
  }
}
