/* Colors
 * black #303030
 * light tan #e0d7c5
 * burnt orange #be5f27
 * light brown #c3bbac
 * brown #8e5942
 * off-white #f2f2f2
 * golden #d49b30
*/

/* Fonts */
body {
  font-family: Oswald, Regular;
  color: #303030;
  margin: 0;
  min-width: 300px;
}

h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.56em;
  color: #f2f2f2;
}
h2 a:hover {
  color: #d49b30;
}
h2 a {
  font-style: italic;
  text-decoration: underline;
}
h3 {
  font-family: Oswald, Lato Black;
  font-size: 1.125em;
  color: #8e5942;
  text-transform: uppercase;
}
h4 {
  font-family: Oswald, Lato Light;
  font-size: 1.125em;
  color: #8e5942;
  text-transform: uppercase;
  font-weight: 200;
}
nav p {
  font-size; 1.06em;
  line-height: 1em;
  text-transform: uppercase;
}
p {
  line-height: 1.6em;
  margin: 1em;
}
p a {
  font-family: Oswald, Lato Bold Italic;
  font-size: 1em;
  color: #be5f27;
}
p a:hover {
  text-decoration: underline;
}
footer p {
  font-size: .9em;
  color: #f2f2f2;
}
a {
  cursor: pointer;
  text-decoration: none;
}

/* */
nav {
  background-color: #f2f2f2;
  opacity: .9;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav * {
  display: inline-block;
  margin: .25em;
}
nav img {
  height: 50px;
}
nav a {
  color: #303030;
  text-decoration: none;
}
nav p.active a {
  font-weight: 400;
  color: #d49b30;
}

.splash {
  background-position: 50% 80%;
  background-color: #8e5942;
  background-size: cover;
  height: 300px;
}
.index .splash {
  background-image: url('../images/fix-index-hero.jpg');
}
.menu .splash {
  background-image: url('../images/fix-menu-hero.jpg');
}
.custom .splash {
  background-image: url('../images/fix-custom-hero.jpg');
}
.about .splash {
  background-image: url('../images/fix-about-hero.jpg');
}
.hours .splash {
  background-image: url('../images/fix-hours-hero.jpg');
}

@media(min-width: 600px) {
  nav img {
    height: 163px;
    margin: 15px;
  }

  nav.scrolled img {
    height: 50px;
  }

  .splash {
    height: 831px;
  }
}

.title {
  text-align: center;
}
.title  h1{
  color: white;
  background-color: #d49b30;
  display: inline-block;
  padding: 20px;
  margin: 0 -2px;
}
.title h1.inactive {
  background-color: white;
  color: #d49b30;
}

@media(min-width: 600px) {
  .even {
    display: inline-block;
    flex-grow: 1;
    width: 1;
  }
  .twice {
    flex-grow: 2;
    width: 1;
  }
  article {
    display: flex;
  }
  footer {
    display: flex;
    align-items: center;
  }
}

.big {
  display: none;
}

.main {
  background-color: #e0d7c5;
  padding-bottom: 15px;
  max-width: 500px;
  margin: auto;
}

.item {
  border-bottom: 1px solid white;
  margin: 0 15px;
}
.item:last-child {
  border-bottom: none;
}
.item p {
  margin: 15px 0;
}

.divider {
  text-align: center;
  align-items: stretch;
}
.divider {
  background-color: #8e5942;
  color: white;
  padding: 20px 0;
  font-size: 1.25em;
}
.divider span {
  font-weight: 200;
}
@media(min-width: 600px) {
  .divider p {
    display: inline-block;
    flex-grow: 1;
    width: 1;
  }

  .divider {
    display: flex;
  }
}

/* Form */
label {
  display: block;
  text-transform: uppercase;
  margin: 25px 0 5px;
}

input, textarea {
  width: 100%;
  line-height: 1.6em;
  box-shadow: 2px 2px 2px #888888;
  border: none;
  padding: 5px;
  outline: none;
}
textarea {
  height: 100px;
  resize: none;
}
.submit {
  text-align: center;
}
input[type="submit"] {
  display: inline-block;
  width: auto;
  margin: 15px;
  padding: 5px 10px;
  background-color: #be5f27;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
}
@media(min-width: 600px) {
  .main {
    padding: 0 50px 15px;
  }
}

footer {
  background-color: #be5f27;
  text-align: center;
  padding: 15px;
}
footer .media {
  margin: 1em 0;
}

@media(min-width: 600px) {
  .big {
    display: block;
  }
}
